<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <title>{% block title %}{% endblock %} - EER</title>
            {% block global_stylesheets %}
                <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}"/>
                <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
            {% endblock %}
            {% block custom_stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/custom/index.css') }}" />
                <link rel="stylesheet" href="{{asset('css/custom/Navigation-Clean.css')}}"/>
                <link rel="stylesheet" href="{{ asset('css/custom/style.css') }}" />
            {% endblock %}            
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        
    </head>
    <body>

        {% include '@FrontOffice/header.html' %}
        
        {% block body %}{% endblock %}

        {% include '@FrontOffice/footer.html' %}

        {% block javascripts %}{% endblock %}
        
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="{{asset('js/bootstrap.js')}}"></script>
    </body>
</html>
