{% extends "@App/template.html.twig" %}

{% block title %} Accueil {% endblock %}
{% block content %}
    <div class="container">
        <form action="{{path('front_office_travel_edit', {'id': deplacement.id})}}" method="POST">
        <div class="form-group">
            <input name="id" value="{{ deplacement.id }}" type="hidden" />
            <label>Nombre de km:</label>
            <input name="nbKm" class="form-control" type="number" value="{{ deplacement.nbKm }}" required="" minlength="1" pattern="w+" autofocus="">
            <div class="form-group">
                <label>Date</label>
                <input name="datec" class="form-control" type="date" value="{{ datecreat | date("Y-m-d") }}" required="" minlength="" pattern="">
            </div>
            <div class="form-group">
                <label>Moyen de locomotion</label>
                <input name="typedeplacement" class="form-control" type="text" value="{{ deplacement.typeDeplacement.id }}" required="" inputmode="">           
                <div>
                    <button name="submit" value="true" class="btn btn-primary">Modifier</button>
                </div>
            </div>
        </div>
            <input name="userid" value="2" type="hidden"/>
        </form>
    </div>
{% endblock %}
