{% extends "@App/template.html.twig" %}

{% block title %} Mes déplacements {% endblock %}
{% block content %}
   <div class="container">
        <h1>Mes déplacements</h1>
        <h2>Déplacements à valider</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Date</th>
                        <th>Nombre de km</th>
                        <th>Moyen de locomotion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pending_travel in pending_travels %}
                        <tr>
                            <td> {{ pending_travel.id }} </td>
                            <td> {{ "%02d"|format(pending_travel.jour) }}/{{ "%02d"|format(pending_travel.mois) }}/{{pending_travel.annee}} </td>
                            <td> {{pending_travel.nbKm}} </td>
                            <td> {{pending_travel.typeDeplacement}} </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-success" href="{{path('front_office_travel_edit', { 'id': pending_travel.id })}}" role="button">Modifier</a>
                                    <a class="btn btn-danger" href="{{path('front_office_travel_delete', { 'id': pending_travel.id })}}" role="button">Supprimer</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" href="{{path('front_office_travel_create')}}" role="button">Ajouter un déplacement</a>
        <h2>Déplacements validés</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Date</th>
                        <th>Nombre de km</th>
                        <th>Moyen de locomotion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for validated_travel in validated_travels %}
                        <tr>
                        <td> {{validated_travel.id }} </td>
                        <td> {{"%02d"|format(validated_travel.jour) }}/{{ "%02d"|format(validated_travel.mois) }}/{{validated_travel.annee}} </td>
                        <td> {{validated_travel.nbKm}} </td>
                        <td> {{validated_travel.typeDeplacement}} </td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}