{% extends 'base.html.twig' %}

{% block body %}
    <h1>Societe</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ societe.id }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ societe.societe }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ societe.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('societe_index') }}">Back to the list</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('societe_edit', { 'id': societe.id }) }}">Edit</a>
        </li>
        <li class="list-group-item">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
